:root {
  --primary-black: 0, 0, 0;
  --primary-white: 255, 255, 255;
  --primary-red: #FB565A;
  --hover-red: #E74246;
  --active-red: #D7373B;
  --primary-gray: #EEEEEE;
  --hover-gray: #DFDFDF;
  --active-gray: #D5D5D5;
  --primary-darkgray: 77, 77, 77;
  --active-link-gray: 65, 65, 65;
  --text-gray: #283136;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(var(--primary-black),1);
  background-color: rgba(var(--primary-white),1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.horizontal-line {
  border: none;
  height: 2px;
  background-color: var(--primary-gray);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/* Grid for pages */

.page-catalog {
  display: grid;
  grid-column-gap: 140px;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.container {
  width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Button*/
.button {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button-primary {
  color: rgba(var(--primary-white),1);
  background-color: var(--primary-red);
}

.button-primary:hover {
  background-color: var(--hover-red);
  transition: 0.3s;
}

.button-primary:active {
   color: rgba(var(--primary-white),0.3);
   background-color: var(--active-red);
   box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   transition: 0.3s;
}


.button-secondary {
  color: rgba(var(--primary-black),1);
  background-color: var(--primary-gray);
}

.button-secondary:hover {
  color: rgba(var(--primary-black),1);
  background-color: #DFDFDF;
  transition: 0.3s;
}

.button-secondary:active {
  color: rgba(var(--primary-black),0.3);
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  transition: 0.3s;
}


/* Main header */

.page-header {
  background-color: var(--primary-gray);
}


.header-background {
  background-color: var(--primary-gray);
  background-size: cover;
}

/* Main navigation */

.main-navigation {
  width: 100%;
  margin-top: 49px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(var(--primary-black),1);
  line-height: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  color: rgba(var(--primary-black), 1);
  fill: currentColor;
}

.main-header-logo:hover {
  fill: rgba(var(--primary-black), 1);
}

.main-header-logo:active {
  fill: #A6A6A6;
  transition: 0.3s;
}

.site-navigation {
  flex-wrap: wrap;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-weight: 500;
}

.header-cart {
  margin-top: 20px;
  max-width: 115px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart .cart-link {
  padding-left: 40px;
  position: relative;
}

.site-navigation li {
  display: inline-block;
  margin-right: 45px;
}

.site-navigation li:last-child {
  padding-right: 0;
}

.site-navigation a {
  position: relative;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgba(var(--primary-black),1);
}

.header-cart a {
  display: block;
  color: rgba(var(--primary-black),1);
}

.site-navigation a:hover,
.header-cart a:hover {
  color: var(--primary-red);
  transition: 0.3s;
}

.site-navigation a:active,
.header-cart a:active {
  color: rgba(var(--primary-black),0.3);
  transition: 0.3s;
}

.site-navigation-active::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--primary-red);
  bottom: 4px;
}
.page-title {
  background-color: var(--primary-gray);
  padding-top: 78px;
  padding-bottom: 108px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
  font-size: 55px;
  line-height: 1;
}

/* Slider */
.slider {
  width: 100%;
  background-color: var(--primary-gray);
}

.slider-full {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.slider ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.slider-item {
  position: relative;
  width: 1160px;
}

.slider-text {
  position: absolute;
  top: 78px;
}
.slider-main-text {
  width: 538px;
  min-height: 111px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 25px;
}

.slider-description-text {
  margin: 0;
  width: 400px;
  min-height: 49px;
  color: var(--text-gray);
  margin-bottom: 52px;
}

.slider-text a {
  padding: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.slider-controls {
  position: absolute;
  top: 317px;
  left: 536px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;

}

.slider-controls button {
  padding: 0;
  border: 0px;
  width: 18px;
  height: 18px;
  background-color: rgba(var(--primary-white),1);
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls .current {
  width: 18px;
  height: 18px;
  align-self: center;
  border-radius: 50%;
}

.slider-controls .current::before {
  border-color: #C1C1C1;
}

.slider-control {
  position: relative;
}

.slider-control::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-img {
  display: flex;
  padding-left: 400px;
  width: 760px;
}
/* Features */

.features {
  margin-top: 72px;
  margin-bottom: 80px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style: none;
}

.features-item {
  text-align: left;
  min-height: 347px;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-item p {
  color: var(--text-gray);
  margin: 0;
  margin-bottom: 45px;
}

.button-features {
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-green{
  color: rgba(var(--primary-white),1);
  background-color: #00CA74;
}

.button-green:hover {
  background-color: #00BC6C;
  transition: 0.3s;
}

.button-green:active {
   color: rgba(var(--primary-white),0.3);
   background-color: #00AA62;
   box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   transition: 0.3s;
}

.button-yellow{
  color: rgba(var(--primary-white),1);
  background-color: #EFC84A;
}

.button-yellow:hover {
  background-color: #EAB534;
  transition: 0.3s;
}

.button-yellow:active {
   color: rgba(var(--primary-white),0.3);
   background-color: #E5A722;
   box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   transition: 0.3s;
}

/* About */

.section-about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 38px;
  margin-bottom: 50px;
  width: 100%;
}

.differents{
  width: 651px;
}

.positioning {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.values-company {
  max-width: 646px;
  margin: 0;
  margin-bottom: 16px;
  color: var(--text-gray);
}

.types-jobs {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
  color: var(--text-gray);
}

.rtb {
  width: 360px;
  min-height: 412px;
}

.logo-container {
  margin: 0;
  height: 208px;
}

.logo-container img {
  width: 360px;
  height: 208px;
}

.differents ul {
  list-style: none;
  color: rgba(var(---text-gray), 1);
  margin: 0;
  padding: 0;
}

.differents li {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin-bottom: 25px;
}

.differents li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--primary-red);
}

.rtb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.rtb-numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin: 0;
}

.rtb-numbers-description {
  line-height: 18px;
  color: var(--text-gray);
  margin: 0;
  margin-top: 10px;
}

.rtb-discription {
text-align: center;
text-transform: uppercase;
font-weight: bold;
margin-top: 38px;
margin-bottom: 31px;
}

/* Our progects */

.our-projects {
  width: 100%;
  min-height: 180px;
  margin-bottom: 75px;
  border-top: 2px solid var(--primary-gray);
  border-bottom: 2px solid var(--primary-gray);
}

.projects-list {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 37px;
  padding-left: 17px;
  padding-right: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.projects-item {
  position: relative;
}

.projects-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  width: 2px;
  height: 52px;
  background-color: var(--primary-gray);
  transform: translateY(-50%);
}

.project-html-academy {
  margin-top: 7px;
}

.project-borodinski {
  margin-left: -23px;
}

.project-pink {
  margin-left: -8px;
}

.projects-item img {
  flex-grow: 1;
  opacity: 0.2;
}

.projects-item img:hover {
  opacity: 1;
  transition: 0.3s;
}

.projects-item img:active {
  opacity: 0.1;
  transition: 0.3s;
}

/*Footer*/

/* .main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 218px;
}

/* Map*/
.map-footer {
  position: relative;
  height: 416px;
}

.map-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.map-marker {
}

.map-address {
  width: 319px;
  min-height: 308px;
  background-color: rgba(var(--primary-white),1);
}

.map-address h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 23px;
}

.map-address p {
  color: #666666;
  line-height: 18px;
  margin-bottom: 35px;
  padding-left: 50px;
  padding-right: 39px;
}

.button-mail {
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-left: 50px;
  margin-bottom: 47px;
}

.number {
text-decoration: none;
color: #666666;
}

/* Footer CTA */
.footer-cta {
  text-align: left;
  margin: 0;
  margin-right: 100px;
  width: 660px;
}

.after-big-text {
  color: #444444;
  margin: 0;
}

.big-text {
  color: var(--primary-black);
  margin: 0;
  padding-bottom: 14px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

/* Social button */

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  height: 80px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  fill: rgba(var(--primary-white),1);
  background-color: var(--primary-gray);
  cursor: pointer;
}

.social-button:hover {
  background-color: var(--hover-red);
  transition: 0.3s;
}

.social-button svg {
  width: 30px;
  height: 30px;
}

.social-button:active path {
   fill: rgba(var(--primary-white),0.3);
   background-color: var(--active-red);
   transition: 0.3s;
}

/* Filters */

.filters {
  grid-row-start: 1;
  grid-row-end: 3;
}

.filter-grid {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}

.grid {
  margin-top: 54px;
  margin-bottom: 20px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}


.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--primary-gray);
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 33px;
  padding-right: 22px;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #D7DCDF;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00CA74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid rgba(var(--primary-white),1);
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 80px;
  height: 38px;
  background-color: var(--primary-gray);
  border: none;
  border-radius: 3px;
  margin-left: 11px;
  text-align: center;
}

.price-controls {
display: flex;
justify-content: space-between;
}

.filter ul {
  list-style: none;
  padding: 0;
  color: rgba(var(--primary-darkgray),0.4);
}

.filter-item {
  margin-bottom: 17px;
  color: var(--text-gray);
}

.filter-check {
  padding-left: 36px;
  color: rgba(var(--text-gray),1);
  cursor: pointer;
}

.filter-input {
  position: absolute;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.filter-checkbox {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: -36px;
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.4;
}

.filter-radio-button {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -36px;
  background-image: url(../img/radio-off.svg);
  opacity: 0.4;
}

.filter-input:hover + .filter-checkbox,
.filter-input:focus + .filter-checkbox {
  background-image: url(../img/checkbox-off.svg);
  opacity: 1;
  transition: 0.3s;
}

.filter-input:hover + .filter-radio-button,
.filter-input:focus + .filter-radio-button {
  background-image: url(../img/radio-off.svg);
  opacity: 1;
  transition: 0.3s;
}

/* checked check */

.filter-input:checked + .filter-checkbox {
  background-image: url(../img/checkbox-on.svg);
  width: 25px;
}

.filter-nput:checked:hover + .filter-checkbox,
.filter-input:checked:focus + .filter-checkbox
{
  color: rgba(var(--text-gray), 1);
  background-image: url(../img/checkbox-on.svg);
  opacity: 1;
  transition: 0.3s;
}

/* disabled check*/
.filter-input:disabled + .filter-checkbox {
  background-image: url(../img/checkbox-off.svg);
  opacity: 1;
}

.filter-input:disabled:hover + .filter-checkbox,
.filter-input:disabled:focus + .filter-checkbox {
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.1;
  transition: 0.3s;
}


.filter-input:disabled:checked + .filter-checkbox {
  background-image: url(../img/checkbox-on.svg);
  opacity: 0.1;
  transition: 0.3s;
}

.filter-input:disabled:checked:hover + .filter-checkbox,
.filter-input:disabled:checked:focus + .filter-checkbox {
  background-image: url(../img/checkbox-on.svg);
  opacity: 0.1;
  transition: 0.3s;
}

/* checked radio */

.filter-input:checked + .filter-radio-button {
  background-image: url(../img/radio-on.svg);
}

.filter-input:checked:hover + .filter-radio-button,
.filter-input:checked:focus + .filter-radio-button
{
  color: rgba(var(--filter-text-gray), 1);
  background-image: url(../img/radio-on.svg);
  opacity: 1;
  transition: 0.3s;
}

/* disabled radio*/
.filter-input:disabled + .filter-radio-button {
  background-image: url(../img/radio-off.svg);
  opacity: 0.1;
}

.filter-input:disabled:hover + .filter-radio-button,
.filter-input:disabled:focus + .filter-radio-button {
  background-image: url(../img/radio-off.svg);
  opacity: 0.1;
  transition: 0.3s;
}


.filter-input:disabled:checked + .filter-radio-button {
  background-image: url(../img/radio-on.svg);
  opacity: 0.1;
}

.filter-input:disabled:checked:hover + .filter-radio-button,
.filter-input:disabled:checked:focus + .filter-adio-button {
  background-image: url(../img/radio-on.svg);
  opacity: 0.1;
  transition: 0.3s;
}

.button-show {
  padding-left: 88px;
  padding-right: 89px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-top: 25px;
}

/* Sort */

.sorting {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}

.title-sorting {
  text-transform: uppercase;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.sorting-buttons {
  display: flex;
  align-items: center;
}

.sorting-ranging {
  background-color: transparent;
  fill: currentColor;
  fill-opacity: 0.2;
}

.sorting-ranging:hover,
.sorting-ranging:focus {
  fill: #A6A6A6;
  fill-opacity: 1;
  transition: 0.3s;
}

.sorting-ranging:active,
.sorting-ranging-current {
  fill: var(--primary-black);
  fill-opacity: 1;
  transition: 0.3s;
}

.button-sort {
  color: rgba(var(--primary-black),0.3);
  font-size: 14px;
  background-color: transparent;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.button-sort:hover,
.button-sort:focus {
  color: rgba(var(--primary-black),0.6);
  transition: 0.3s;
}

.button-sort:active,
.button-sort-current {
  color: rgba(var(--primary-black),1);
}

.sort-list-item {
 margin-right: 5px;
}

/* Catalog */
.catalog {
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}

.catalog-list-item {
  position: relative;
  margin-bottom: 30px;
  width: 360px;
}

.catalog-list-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  transition: 0.3s;
}

.browser-header {
  padding: 0;
  margin: 0;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.catalog-list-image {
  padding: 0;
  margin: 0;
  width: 360px;
  height: 580px;
}

.catalog-list-item-info {
  position: absolute;
  bottom: 0;
  display: none;
}


.catalog-list-item:hover .catalog-list-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-gray);
  min-height: 230px;
  width: 360px;
  border-radius: 0px 0px 3px 3px;
  transition: 0.3s;
}

.catalog-list-item:hover .browser-header {
  opacity: 1;
  transition: 0.3s;
}

.catalog-item-description {
  text-align: center;
  color: #666666;
  line-height: 18px;
  margin: 0;
  margin-bottom: 32px;
  margin-top: 15px;

}

.catalog-item {
  text-transform: uppercase;
  color: var(--primary-black);
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 26px;
  transition: .2s;
}

.catalog-item:hover {
  color: var(--primary-red);
  transition: 0.3s;
}

.catalog-item:active {
  color: rgba(var(--primary-black),0.3);
  transition: 0.3s;
}

.button-catalog {
  padding: 17px 72px 15px 72px;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  margin-top: 25px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  display: block;
  text-transform: uppercase;
  color: rgba(var(--primary-black),1);
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  background-color: var(--primary-gray);
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a:hover {
  background-color: #DFDFDF;
  transition: 0.3s;
}

.pagination-item a:active {
  color: rgba(var(--primary-black),0.3);
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  transition: 0.3s;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 3px;
  border-color:#DBDBDB;
  transition: 0.3s;
}

.button-pagination {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 78px;
  padding-right: 77px;
}

/* Modal */

.modal {
display: none;
box-sizing: border-box;
}

.modal-contact-us {
  width: 960px;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  padding: 65px 100px 85px 100px;
  background: rgba(var(--primary-white),1);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 45px;
}

/* Form */

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-text {
  width: 100%;
  margin-bottom: 47px;
  margin-top: 34px;
}

.modal-label {
  display: block;
  font-weight: bold;
  margin-bottom: 9px;
}

.modal-email {
  flex-grow: 1;
}

.modal-name {
flex-grow: 1;
margin-right: 56px;
}

.modal-name-input,
.modal-email-input {
  width: 100%;
  min-height: 50px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
  padding-left: 16px;
  color: #A2A2A2;
}

.modal-text-textarea {
  width: 100%;
  max-width: 100%;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
  padding-left: 16px;
  padding-top: 16px;
  color: #A2A2A2;
}

.modal-name-input:hover,
.modal-email-input:hover,
.modal-text-textarea:hover {
border: 2px solid #B4B9BB;
transition: 0.3s;
}

.modal-name-input:focus,
.modal-email-input:focus,
.modal-text-textarea:focus {
  border: 2px solid #000000;
  color: #444444;
}

.modal-name-input:invalid,
.modal-email-input:invalid,
.modal-text-textarea:invalid {
  border: 2px solid var(--primary-red);
  color: var(--primary-red);
}

.modal-text-textarea::-webkit-input-placeholder,
.modal-email-input::-webkit-input-placeholder,
.modal-name-input::-webkit-input-placeholder {
color: #A2A2A2;
}

.modal-name-input::-moz-placeholder,
.modal-email-input::-moz-placeholder,
.modal-text-textarea::-moz-placeholder {
color: #A2A2A2;
}

.modal-text-textarea::-ms-input-placeholder,
.modal-name-input::-ms-input-placeholder,
.modal-email-input::-ms-input-placeholder {
color: #A2A2A2;
}

.modal-text-textarea:focus::-webkit-input-placeholder,
.modal-email-input:focus::-webkit-input-placeholder,
.modal-name-input:focus::-webkit-input-placeholder {
color: #444444;
}

.modal-text-textarea:focus::-moz-placeholder,
.modal-email-input:focus::-moz-placeholder,
.modal-name-input:focus::-moz-placeholder {
color: #444444;
}

.modal-text-textarea:focus::-ms-input-placeholder,
.modal-email-input:focus::-ms-input-placeholder,
.modal-name-input:focus::-ms-input-placeholder {
color: #444444;
}

.modal-button {
padding: 17px 83px 15px 83px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;
  width: 27px;
  height: 4px;
  border-radius: 3px;
  background-color: #FECDCE;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::after,
.modal-close:hover::before {
background-color: var(--primary-red);
transition: 0.3s;
}

.modal-close:active::after,
.modal-close:active::before {
background-color: #FFEFEF;
transition: 0.3s;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
